<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单详情</title>
    <link href="../layui/css/layui.css" rel="stylesheet" />
    <link href="../css/order.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">湖北网通仓储平台</div>
            <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="order_card.html">控制台</a></li>
                    <li class="layui-nav-item"><a href="order_product.html">文档帮助</a></li>
                    <li class="layui-nav-item"><a href="other.html">最新消息</a></li>
                    <!-- <li class="layui-nav-item">
                                <a href="javascript:;">公司文化</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="">邮件管理</a></dd>
                                    <dd><a href="">消息管理</a></dd>
                                    <dd><a href="">授权管理</a></dd>
                                </dl>
                            </li> -->
                </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span>管理员</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">订单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="01_order_list.html">订单查询</a></dd>
                            <dd><a href="05_picking_list.html">拣货单号查询</a></dd>
                            <dd><a href="10_transport_list.html">运单号查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">退货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="15_return_list.html">退货接收单</a></dd>
                            <dd><a href="16_return_list.html">退货交接单</a></dd>
                            <dd><a href="17_return_list.html">退货审核</a></dd>
                            <dd><a href="18_return_list.html">退货审核异常表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">仓库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="40_purchase_list.html">到货接收单</a></dd>
                            <dd><a href="41_purchase_list.html">入库单查询</a></dd>
                            <dd><a href="50_goods_list.html">库存查询</a></dd>
                            <dd><a href="60_returnForm_list.html">退货单查询</a></dd>
                            <dd><a href="70_store_list.html">仓位调整</a></dd>
                            <dd><a href="80_inventory_list.html">盘点单查询</a></dd>
                            <dd><a href="90_inventory_list.html">盘点盈亏表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                            <a href="javascript:;">权限管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">人员管理</a></dd>
                                <dd><a href="">权限管理</a></dd>
                            </dl>
                        </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid">
                <div class="h15"></div>
                <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="01_order_list.html">订单管理</a>
                        <a><cite>订单详情</cite></a>
                    </span>
                </div>
                <hr class="layui-bg-gray">

                <div class="h5"></div>
                <blockquote class="layui-elem-quote">订单信息</blockquote>
                <div class="h10"></div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-md5">
                        <ul class="ml10 order-detail">
                            <li>订单编号：or3683921427117520</li>
                            <li>姓名：江司辰</li>
                            <li>电话：18910275959</li>
                            <li>地址：北京市石景山区甲10号，眼科医院斜对面，小卖部收</li>
                            <li>创建时间：2018/1/18 15:36:39</li>
                            <li>支付时间：2018/1/18 15:38:39</li>
                            <li>备注：尽快发货，不要EMS</li>
                        </ul>
                    </div>

                    <div class="layui-col-md5">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h4 class="layui-timeline-title">下单 : 2018/1/18 15:36:39</h4>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h4 class="layui-timeline-title">支付 : 2018/1/18 15:38:39</h4>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h4 class="layui-timeline-title">分配号码: 2018/2/14 16:36:39</h4>
                                    <p>
                                        <ul>
                                            <li>操作人：杜成龙</li>
                                            <li>分配单号：4609389053519291</li>
                                        </ul>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="h20"></div>
                <blockquote class="layui-elem-quote">订单详情</blockquote>
                <div>
                    <ul class="ml10">
                        <li class="layui-row mb20">
                            <div class="layui-col-md1 img_detail">
                                <img src="../images/phonex.jpg" alt="">
                            </div>
                            <div class="layui-col-md8 ml10">
                                <div>苹果 iPhone XR 4G智能手机苹果xr全面屏手机A2108</div>
                                <div>容量: 256GB</div>
                                <div>版本: 国行</div>
                                <div>数量：5</div>
                                <div>串号: 80820133121，80820133122，80820133123，80820133124，80820133125</div>
                                <div>商品编号: SJ10023</div>
                            </div>
                        </li>
                        <li class="layui-row mb20">
                            <div class="layui-col-md1 img_detail">
                                <img src="../images/iwatch.jpg" alt="">
                            </div>
                            <div class="layui-col-md8 ml10">
                                <div>Watch Series 4运动型智能手表4代Watch4</div>
                                <div>版本: 国行</div>
                                <div>数量：3</div>
                                <div>串号: 30820133121，30820133123，30820133125</div>
                                <div>商品编号: SJ10013</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <blockquote class="layui-elem-quote layui-quote-nm">搜索</blockquote> -->

    </div>


    </div>

</body>
<!-- <script src="../js/jquery.js"></script> -->
<script src="../js/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });
</script>
<script>

</script>

</html>