<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理————卡号类</title>
    <div th:include="common/common"></div>
    <style>
        .accept{
            display: none;
        }
    </style>
</head>

<body>
<div class="x-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="h15"></div>
            <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="01_order_list.html">订单管理</a>
                        <a><cite>实物单查询</cite></a>
                    </span>
            </div>
            <hr class="layui-bg-gray">

            <form class="layui-form" action="">
                <div class="h10"></div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-form-item layui-col-md4">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入实物运单号查询"
                               autocomplete="off" class="layui-input border5">
                    </div>
                    <div class="layui-col-md2">
                        <select name="city" lay-verify="">
                            <option value="">请选择运单状态</option>
                            <option value="010">未揽收</option>
                            <option value="021">已揽收</option>
                            <option value="021">已出库</option>
                        </select>
                    </div>
                    <div class="layui-col-md2">
                        <button class="layui-btn border5">查询</button>
                    </div>
                </div>
            </form>
            <div class="h10"></div>
            <!-- <blockquote class="layui-elem-quote">详细信息</blockquote> -->

            <div class="layui-row">
                <div class="right">
                    <!-- <button class="layui-btn border5">生成拣货单号</button> -->
                    <!-- <button class="layui-btn border5">生成拣货单号</button> -->
                </div>
                <div class="clearboth"></div>
            </div>

            <!-- 表格信息 -->
            <table class="layui-table">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <th>实物运单号</th>
                    <th>物流公司</th>
                    <th>操作时间</th>
                    <th>订单号</th>
                    <th>运单状态</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>5771175212790891</td>
                    <td>顺丰</td>
                    <td>2019/01/04 10:30</td>
                    <td>or5771175212790891</td>
                    <td>已揽收</td>
                    <th>武涵蕾</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>4390135765468138</td>
                    <td>中通</td>
                    <td>2019/01/05 10:30</td>
                    <td>or7252338753708891</td>
                    <td>已揽收</td>
                    <th>武涵蕾</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="no_trans">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>1952853152122026</td>
                    <td>顺丰</td>
                    <td>2019/01/04 07:02</td>
                    <td>or6441218332268093</td>
                    <td>未揽收</td>
                    <th>贾朝旭</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="no_trans">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>3381431179452495</td>
                    <td>中通</td>
                    <td>2019/01/09 09:07</td>
                    <td>or1952377882282451</td>
                    <td>未揽收</td>
                    <th>刘泽芳</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="no_trans">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>3921856298033549</td>
                    <td>顺丰</td>
                    <td>2019/01/11 10:07</td>
                    <td>or2833470788559514</td>
                    <td>未揽收</td>
                    <th>刘泽芳</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="no_trans">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>2878685914492114</td>
                    <td>圆通</td>
                    <td>2019/01/11 10:34</td>
                    <td>or9985864608495507</td>
                    <td>未揽收</td>
                    <th>刘泽芳</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>5771175212790891</td>
                    <td>顺丰</td>
                    <td>2019/01/09 06:55</td>
                    <td>or2482354584640161</td>
                    <td>已揽收</td>
                    <th>汤紫琼</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>1167763191548414</td>
                    <td>圆通</td>
                    <td>2019/01/11 11:11</td>
                    <td>or6956135974831150</td>
                    <td>已揽收</td>
                    <th>田珠玉</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <!-- 已揽收 -->
                <tr class="accept">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>9178959384888106</td>
                    <td>中通</td>
                    <td>2019/02/03 06:30</td>
                    <td>or5951961907155645</td>
                    <td>已揽收</td>
                    <th>程超</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="accept">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>1299922983192696</td>
                    <td>韵达</td>
                    <td>2019/01/04 09:55</td>
                    <td>or3603522067898169</td>
                    <td>已揽收</td>
                    <th>沈州</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="accept">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>6541724614591155</td>
                    <td>圆通</td>
                    <td>2019/01/10 12:09</td>
                    <td>or9559569952193876</td>
                    <td>已揽收</td>
                    <th>徐龙</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="accept">
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>6264660645714478</td>
                    <td>圆通</td>
                    <td>2019/01/14 12:19</td>
                    <td>or2356384887598725</td>
                    <td>已揽收</td>
                    <th>马英达</th>
                    <td>
                        <a href="03_order_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">
                                查看
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
</body>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });

    layui.use('form', function () {
        var form = layui.form;

        form.on('select()', function (data) {
            $(".no_trans").hide();
            $(".accept").show();
        });

    });
</script>
<script>

</script>

</html>