<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理————卡号类</title>
    <link href="../layui/css/layui.css" rel="stylesheet" />
    <link href="../css/order.css" rel="stylesheet" />
    <style>
        .show1{
            display: none;
        }
        .show2{
            padding-left: 20px;
        }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">湖北网通仓储平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="order_card.html">控制台</a></li>
                <li class="layui-nav-item"><a href="order_product.html">文档帮助</a></li>
                <li class="layui-nav-item"><a href="other.html">最新消息</a></li>
                <!-- <li class="layui-nav-item">
                                        <a href="javascript:;">公司文化</a>
                                        <dl class="layui-nav-child">
                                            <dd><a href="">邮件管理</a></dd>
                                            <dd><a href="">消息管理</a></dd>
                                            <dd><a href="">授权管理</a></dd>
                                        </dl>
                                    </li> -->
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span>管理员</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">订单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="01_order_list.html">订单查询</a></dd>
                            <dd><a href="05_picking_list.html">拣货单号查询</a></dd>
                            <dd><a href="10_transport_list.html">运单号查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item  layui-nav-itemed">
                        <a href="javascript:;">退货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="15_return_list.html">退货接收单</a></dd>
                            <dd><a href="16_return_list.html">退货交接单</a></dd>
                            <dd><a href="17_return_list.html">退货审核</a></dd>
                            <dd><a href="18_return_list.html">退货审核异常表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">仓库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="40_purchase_list.html">到货接收单</a></dd>
                            <dd><a href="41_purchase_list.html">入库单查询</a></dd>
                            <dd><a href="50_goods_list.html">库存查询</a></dd>
                            <dd><a href="60_returnForm_list.html">退货单查询</a></dd>
                            <dd><a href="70_store_list.html">仓位调整</a></dd>
                            <dd><a href="80_inventory_list.html">盘点单查询</a></dd>
                            <dd><a href="90_inventory_list.html">盘点盈亏表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">权限管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">人员管理</a></dd>
                            <dd><a href="">权限管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid">
                <div class="h15"></div>
                <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="20_return_list.html">退货审核</a>
                        <a><cite>退货详情</cite></a>
                    </span>
                </div>
                <hr class="layui-bg-gray">
                <div class="right">
                    <button class="layui-btn layui-btn-sm">完结</button>
                    <button class="layui-btn layui-btn-danger layui-btn-sm" id="error_btn">异常</button>
                </div>
                <div class="h10 clearboth"></div>
                <blockquote class="layui-elem-quote">订单信息 : or5517462719810501</blockquote>
                <div class="h10"></div>
                <div class="layui-row">
                    <ul class="ml10">
                        <li>订单编号：or5517462719810501</li>
                        <li>姓名：邱宏富</li>
                        <li>电话：13912349982</li>
                        <li>地址：湖南省长沙市雨花区玉竹路60号</li>
                    </ul>
                </div>
                <div class="h20"></div>
                <blockquote class="layui-elem-quote">审核详情: <span class="layui-badge ml10 icon_title">退货中</span> <span class="show2"></span></blockquote>
                <div class="layui-row layui-col-space30">
                    <div class="h5"></div>
                    <div class="layui-col-md5">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">序号: 1</h2>
                                <div class="layui-colla-content layui-show">
                                    <ul>
                                        <li>退款物品: 小米8 手机正品 新品全新青春指纹8se</li>
                                        <li>序列号: 812813232178312</li>
                                        <li>ISBN号: 83216610929163</li>
                                        <li>退款原因: 不开机</li>
                                        <li>附件及外观描述: 手机寄回屏幕破碎</li>
                                        <li class="img_detail">
                                            <span>退款图片 :</span>
                                            <img src="../images/m2.jpeg" alt="">
                                        </li>
                                        <li>售后人员: 吴示</li>
                                        <li>诊断及解决办法: 用户自行维修</li>
                                        <li>售后建议: 拒绝退货</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <h3>备注信息:</h3>
                        <hr>
                        <div class="h10"></div>
                        <div class="show1">手机寄回屏幕破碎</div>
                    </div>
                </div>
            </div>


        </div>
        <!-- <blockquote class="layui-elem-quote layui-quote-nm">搜索</blockquote> -->
        <div id="model" style="display:none;" class="insert_model">
            <form class="layui-form layui-row">
                <div class="layui-form-item layui-col-md12">
                    <div class="layui-input-block">小米8 手机正品 新品全新青春指纹8se</div>
                </div>

                <div class="layui-form-item layui-form-text layui-col-md12">
                    <label class="layui-form-label">请填写备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" id="text_input"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-col-md12">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="submit_btn">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
            </form>
        </div>
    </div>


    </div>

</body>
<script src="../js/jquery.js"></script>
<script src="../layui/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });
    var index;
    $("#error_btn").click(function () {
        index = layer.open({
            title: "请输入异常备注",
            type: 1,
            content: $('#model'),
            area: ['500px', '320px'],
            shade: "rgba(0,0,0,0.3)",
            anim: 1,
            end: function (index, layero) {
                $('#model').hide();
            }
        });
    })
    $("#submit_btn").click(function(){
        var val = $("#text_input").val();
        layer.closeAll();
        $(".show1").show().text(val);
        layer.msg('已生成退货异常单', { icon: -1, time: 1000 });
        $(".icon_title").text("异常");
        $(".show2").text("退货单： yc3655298337064316");
        return false;
    })

</script>
<script>

</script>

</html>