<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>到货接收单</title>
    <!-- <link href="../css/layui.css" rel="stylesheet" /> -->
    <div th:include="common/common"></div>
    <style>

    </style>
</head>

<body>
<div class="x-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="h15"></div>
            <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="40_purchase_list.html">到货接收单</a>
                        <a><cite>接收单列表</cite></a>
                    </span>
            </div>
            <hr class="layui-bg-gray">

            <form class="layui-form" action="">
                <div class="h10"></div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-form-item layui-col-md4">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入商品编码"
                               autocomplete="off" class="layui-input border5">
                    </div>
                    <div class="layui-col-md2">
                        <select name="city" lay-verify="">
                            <option value="">请选择采购平台商</option>
                            <option value="010">富力采购中心</option>
                            <option value="021">新华采购中心</option>
                        </select>
                    </div>
                    <div class="layui-col-md2">
                        <button class="layui-btn border5">查询</button>
                    </div>
                </div>
            </form>
            <div class="h10"></div>
            <!-- <blockquote class="layui-elem-quote">详细信息</blockquote> -->

            <div class="layui-row">
                <div class="right">
                    <button class="layui-btn border5">新建接收单</button>
                    <button class="layui-btn border5">确认到货</button>
                </div>
                <div class="clearboth"></div>
            </div>

            <!-- 表格信息 -->
            <table class="layui-table">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <th>商品编码</th>
                    <th>操作人</th>
                    <th>到货时间</th>
                    <th>渠道</th>
                    <th>数量</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg7922352144228518</td>
                    <td>姚正奇</td>
                    <td>2018/05/05 03:30</td>
                    <th>富力采购中心</th>
                    <th>2000</th>
                    <th>赠品类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="confirm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg7764997876616616</td>
                    <td>傅雨石</td>
                    <td>2018/09/03 10:55</td>
                    <th>富力采购中心</th>
                    <th>1300</th>
                    <th>终端类</th>
                    <td>已接收</td>
                    <td>
                        <button class="layui-btn layui-btn-disabled layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg6211093747684971</td>
                    <td>方向文</td>
                    <td>2018/08/03 02:07</td>
                    <th>富力采购中心</th>
                    <th>4000</th>
                    <th>赠品类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg7938881044937213</td>
                    <td>方向文</td>
                    <td>2018/05/09 07:02</td>
                    <th>新华采购中心</th>
                    <th>10000</th>
                    <th>赠品类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg4416774682965521</td>
                    <td>方向文</td>
                    <td>2018/11/04 08:06</td>
                    <th>新华采购中心</th>
                    <th>5000</th>
                    <th>终端类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg3367695899437711</td>
                    <td>丁星光</td>
                    <td>2018/02/10 11:07</td>
                    <th>富力采购中心</th>
                    <th>2000</th>
                    <th>终端类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg8432452329498043</td>
                    <td>方向文</td>
                    <td>2018/03/09 06:02</td>
                    <th>富力采购中心</th>
                    <th>28000</th>
                    <th>终端类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>cg8146359527161725</td>
                    <td>丁星光</td>
                    <td>2018/08/07 03:30</td>
                    <th>富力采购中心</th>
                    <th>12000</th>
                    <th>终端类</th>
                    <td>到货</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认到货</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
</body>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });

    $(".layui-btn").click(function(){
        $(this).addClass("layui-btn-disabled").parent().prev().text("已接收");
        layer.msg('已确认接收', { icon: -1, time: 1200 });
    })
</script>
<script>

</script>

</html>