<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理————卡号类</title>
    <!-- <link href="../css/layui.css" rel="stylesheet" /> -->
    <div th:include="common/common"></div>
    <style>

    </style>
</head>

<body>
<div class="x-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="h15"></div>
            <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="50_goods_list.html">仓库管理</a>
                        <a><cite>仓库明细</cite></a>
                    </span>
            </div>
            <hr class="layui-bg-gray">

            <form class="layui-form" action="">
                <div class="h10"></div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-form-item layui-col-md4">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入商品编码、到货接收单"
                               autocomplete="off" class="layui-input border5">
                    </div>
                    <div class="layui-col-md2">
                        <select name="city" lay-verify="">
                            <option value="">请选择货架</option>
                            <option value="010">A1-03</option>
                            <option value="021">A1-04</option>
                            <option value="010">A1-05</option>
                            <option value="021">A1-06</option>
                            <option value="010">A1-07</option>
                            <option value="021">A1-08</option>
                            <option value="010">A1-09</option>
                            <option value="021">A1-10</option>
                            <option value="010">A1-11</option>
                            <option value="021">A1-12</option>
                        </select>
                    </div>
                    <div class="layui-col-md2">
                        <select name="city" lay-verify="">
                            <option value="">请选择状态</option>
                            <option value="010">已上架</option>
                            <option value="021">已下架</option>
                        </select>
                    </div>
                    <div class="layui-col-md2">
                        <button class="layui-btn border5">查询</button>
                    </div>
                </div>
            </form>
            <div class="h10"></div>
            <hr>
            <!-- <blockquote class="layui-elem-quote">详细信息</blockquote> -->

            <div class="layui-row">
                <div class="right">
                    <button class="layui-btn border5 layui-btn-normal">上架</button>
                    <button class="layui-btn border5 layui-btn-danger">下架</button>
                </div>
                <div class="clearboth"></div>
            </div>

            <!-- 表格信息 -->
            <table class="layui-table">
                <colgroup>
                    <!-- <col width="50">
                    <col width="300">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="300">
                    <col width="300"> -->
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <th>商品编码</th>
                    <th>货架号</th>
                    <th>商品名称</th>
                    <th>商品描述</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>9048595919512804</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>64G 全网通 银色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>3976378727515129</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>64G 全网通 黑色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>2628756513410877</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>64G 全网通 红色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>5574874555992575</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>128G 全网通 银色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>6939574164914212</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>128G 全网通 黑色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>1470515155365206</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>128G 全网通 红色</td>
                    <td>2000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>1001997747784185</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>256G 全网通 银色</td>
                    <td>1000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>0633134614578839</td>
                    <td>A1-12</td>
                    <th>IphoneXR</th>
                    <td>256G 全网通 黑色</td>
                    <td>1000</td>
                    <th>个</th>
                    <th>已上架</th>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm up">上架</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm down">下架</button>
                        <button class="layui-btn layui-btn-sm">盘点</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
</body>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 30 //数据总数，从服务端得到
        });
    });
    $(".up").click(function(){
        $(this).parent().prev().text("已上架");
        layer.msg('已上架', { icon: -1, time: 1000 });
    })
    $(".down").click(function(){
        $(this).parent().prev().text("已下架");
        layer.msg('已下架', { icon: -1, time: 1000 });
    })
</script>

</html>