<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理————卡号类</title>
    <!-- <link href="../css/layui.css" rel="stylesheet" /> -->
    <div th:include="common/common"></div>
    <style>

    </style>
</head>

<body>
<div class="x-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="h15"></div>
            <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="goods_list.html">仓库管理</a>
                        <a><cite>仓位调整</cite></a>
                    </span>
            </div>
            <hr class="layui-bg-gray">

            <form class="layui-form" action="">
                <div class="h10"></div>
                <div class="layui-row layui-col-space20">
                    <div class="layui-form-item layui-col-md4">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入商品编码、仓位号"
                               autocomplete="off" class="layui-input border5">
                    </div>
                    <div class="layui-col-md2">
                        <button class="layui-btn border5">查询</button>
                    </div>
                </div>
            </form>
            <div class="h10"></div>
            <!-- <blockquote class="layui-elem-quote">详细信息</blockquote> -->

            <div class="layui-row">
                <div class="right">
                    <button class="layui-btn border5">添加仓位</button>
                </div>
                <div class="clearboth"></div>
            </div>

            <!-- 表格信息 -->
            <table class="layui-table">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <th>仓位</th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>商品数量</th>
                    <th>单位</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A01-21</td>
                    <td>5814787585519717</td>
                    <td>IphoneXR</td>
                    <td>10000</td>
                    <td>台</td>
                    <td>2018/09/04 08:09</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A01-13</td>
                    <td>6236380202580663</td>
                    <td>IphoneXS</td>
                    <td>10000</td>
                    <td>台</td>
                    <td>2018/07/01 06:30</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A01-18</td>
                    <td>4319260256986805</td>
                    <td>华为荣耀8</td>
                    <td>6000</td>
                    <td>台</td>
                    <td>2018/02/08 07:07</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A01-29</td>
                    <td>9777802849911556</td>
                    <td>华为MATE 20</td>
                    <td>14000</td>
                    <td>台</td>
                    <td>2018/08/04 08:23</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A02-19</td>
                    <td>5252916418784385</td>
                    <td>Iphone7</td>
                    <td>3000</td>
                    <td>台</td>
                    <td>2018/08/03 09:14</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A03-19</td>
                    <td>9874191123663195</td>
                    <td>Iphone 8</td>
                    <td>4500</td>
                    <td>台</td>
                    <td>2018/11/03 11:30</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A03-10</td>
                    <td>2706670111684946</td>
                    <td>小米 8</td>
                    <td>10000</td>
                    <td>台</td>
                    <td>2018/08/05 08:23</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="checkbox" name="" title="写作" lay-skin="primary">
                    </th>
                    <td>A04-10</td>
                    <td>4219631696339171</td>
                    <td>小米 MAX2</td>
                    <td>10000</td>
                    <td>台</td>
                    <td>2018/05/05 09:18</td>
                    <td>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                        </a>
                        <a href="71_store_detail.html" style="color:#fff;">
                            <button class="layui-btn layui-btn-sm">编辑</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
</body>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });
</script>
<script>

</script>

</html>