<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理————卡号类</title>
    <!-- <link href="../css/layui.css" rel="stylesheet" /> -->
    <link href="../layui/css/layui.css" rel="stylesheet" />
    <link href="../css/order.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">湖北网通仓储平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="order_card.html">控制台</a></li>
                <li class="layui-nav-item"><a href="order_product.html">文档帮助</a></li>
                <li class="layui-nav-item"><a href="other.html">最新消息</a></li>
                <!-- <li class="layui-nav-item">
                            <a href="javascript:;">公司文化</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">邮件管理</a></dd>
                                <dd><a href="">消息管理</a></dd>
                                <dd><a href="">授权管理</a></dd>
                            </dl>
                        </li> -->
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span>管理员</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">订单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="01_order_list.html">订单查询</a></dd>
                            <dd><a href="05_picking_list.html">拣货单号查询</a></dd>
                            <dd><a href="10_transport_list.html">运单号查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">退货管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="15_return_list.html">退货接收单</a></dd>
                            <dd><a href="16_return_list.html">退货交接单</a></dd>
                            <dd><a href="17_return_list.html">退货审核</a></dd>
                            <dd><a href="18_return_list.html">退货审核异常表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">仓库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="40_purchase_list.html">到货接收单</a></dd>
                            <dd><a href="41_purchase_list.html">入库单查询</a></dd>
                            <dd><a href="50_goods_list.html">库存查询</a></dd>
                            <dd><a href="60_returnForm_list.html">退货单查询</a></dd>
                            <dd><a href="70_store_list.html">仓位调整</a></dd>
                            <dd><a href="80_inventory_list.html">盘点单查询</a></dd>
                            <dd><a href="90_inventory_list.html">盘点盈亏表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">权限管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">人员管理</a></dd>
                            <dd><a href="">权限管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid">
                <div class="h15"></div>
                <div class="layui-row">
                    <span class="layui-breadcrumb" lay-separator="/">
                        <a href="90_inventory_list.html">盘点盈亏表</a>
                        <a><cite>盈亏明细</cite></a>
                    </span>
                </div>
                <hr class="layui-bg-gray">

                <form class="layui-form" action="">
                    <div class="h10"></div>
                    <div class="layui-row layui-col-space20">
                        <div class="layui-form-item layui-col-md4">
                            <input type="text" name="title" required lay-verify="required" placeholder="请输入盘点单号"
                                autocomplete="off" class="layui-input border5">
                        </div>
                        <div class="layui-col-md2">
                            <select name="city" lay-verify="">
                                <option value="">请选择货架</option>
                                <option value="010">A01</option>
                                <option value="021">A02</option>
                                <option value="021">A03</option>
                                <option value="021">A04</option>
                                <option value="021">A05</option>
                                <option value="021">A06</option>
                                <option value="021">A07</option>
                                <option value="021">A08</option>
                            </select>
                        </div>
                        <div class="layui-col-md2">
                            <button class="layui-btn border5">查询</button>
                        </div>
                    </div>
                </form>
                <div class="h10"></div>
                <!-- <blockquote class="layui-elem-quote">详细信息</blockquote> -->

                <!-- <div class="layui-row">
                    <div class="right">
                        <button class="layui-btn border5">编辑</button>
                    </div>
                    <div class="clearboth"></div>
                </div> -->

                <!-- 表格信息 -->
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>盘点单号</th>
                            <th>货架号</th>
                            <th>商品类型</th>
                            <th>原库存数</th>
                            <th>现库存数</th>
                            <th>盘点人</th>
                            <th>时间</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7515656346992932</td>
                            <td>A01-01</td>
                            <td>实物</td>
                            <td>3000</td>
                            <td>3001</td>
                            <td>杨阳冰</td>
                            <td>2019/01/11 08:23</td>
                            <td>盈余</td>
                        </tr>
                        <tr>
                            <td>9951191318161539</td>
                            <td>A01-02</td>
                            <td>实物</td>
                            <td>2000</td>
                            <td>2002</td>
                            <td>杨阳冰</td>
                            <td>2019/01/12 12:41</td>
                            <td>盈余</td>
                        </tr>
                        <tr>
                            <td>3916455084016090</td>
                            <td>A01-05</td>
                            <td>实物</td>
                            <td>3000</td>
                            <td>2998</td>
                            <td>石德明</td>
                            <td>2019/01/12 14:23</td>
                            <td>亏损</td>
                        </tr>
                        <tr>
                            <td>2937804711614473</td>
                            <td>A02-03</td>
                            <td>实物</td>
                            <td>4000</td>
                            <td>3991</td>
                            <td>杨阳冰</td>
                            <td>2019/01/12 15:37</td>
                            <td>亏损</td>
                        </tr>
                        <tr>
                            <td>1697288555707858</td>
                            <td>A03-04</td>
                            <td>实物</td>
                            <td>5000</td>
                            <td>4998</td>
                            <td>杨阳冰</td>
                            <td>2019/01/13 12:23</td>
                            <td>亏损</td>
                        </tr>
                        <tr>
                            <td>8992787917283248</td>
                            <td>A03-07</td>
                            <td>实物</td>
                            <td>3000</td>
                            <td>3001</td>
                            <td>杨阳冰</td>
                            <td>2019/01/13 08:19</td>
                            <td>盈余</td>
                        </tr>
                        <tr>
                            <td>2072436452171313</td>
                            <td>A03-09</td>
                            <td>实物</td>
                            <td>3000</td>
                            <td>3001</td>
                            <td>石德明</td>
                            <td>2019/01/14 18:37</td>
                            <td>盈余</td>
                        </tr>
                        <tr>
                            <td>0829716565464687</td>
                            <td>A03-12</td>
                            <td>实物</td>
                            <td>3000</td>
                            <td>2997</td>
                            <td>石德明</td>
                            <td>2019/01/14 19:49</td>
                            <td>亏损</td>
                        </tr>
                    </tbody>
                </table>
                <div id="page"></div>
                <div class="layui-footer">
                    <img src="../images/logo.png" class="logo" alt="">
                    <span class="logo_title">© 2015-2030 浩鲸云计算科技股份有限公司 版权所有| All Rights Reserved </span>
                </div>
            </div>


        </div>
        <!-- <blockquote class="layui-elem-quote layui-quote-nm">搜索</blockquote> -->

    </div>
    </div>

</body>
<script src="../js/jquery.js"></script>
<script src="../js/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: 50 //数据总数，从服务端得到
        });
    });
</script>
<script>

</script>

</html>