<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>管理员管理</title>
    <div th:include="common/common"></div>
    <script th:src="@{/third_party/jstree/dist/jstree.js}"></script>
    <script th:src="@{/js/sysuser/edit.js}"></script>
    <link rel="stylesheet" th:href="@{/third_party/jstree/dist/themes/default/style.css}">
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <input type="hidden" th:value="${user.id}" name="id"/>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="L_username" name="username" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${user.username}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label">
                <span class="x-red">*</span>昵称
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <input type="text" id="L_name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${user.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_companyId" class="layui-form-label">
                <span class="x-red">*</span>所属公司
            </label>
            <input type="hidden" id="company" th:value="${user.companyId}">
            <div class="layui-input-inline" style="width: 50%">
                <select id="L_companyId" name="companyId" required="" lay-verify="company">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_role" class="layui-form-label">
                选择角色
            </label>
            <div class="layui-input-inline" style="width: 50%">
                <select id="L_role" name="roleId" lay-verify="required">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_role" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="edit" lay-submit="">
                保存
            </button>
        </div>
        <input type="hidden" id="roleId" th:value="${role.roleId}"/>

    </form>
</div>
</body>
</html>