<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>权限管理</title>
    <div th:include="common/common"></div>
    <script th:src="@{/third_party/jstree/dist/jstree.js}"></script>
    <link rel="stylesheet" th:href="@{/third_party/jstree/dist/themes/default/style.css}">
</head>
<body>
    <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <div id="permissionTree" style="width: 400px">

        </div>
    </div>
</body>
<script type="text/javascript">
    $('#permissionTree').css({'margin-left':($('body').width() - $('#permissionTree').width())/2})
    $('#permissionTree').jstree({
        core:{
            check_callback: true,
            themes: {
                // "responsive": false,
                "icons": false,
                "stripes" : true
            },
            data:{
                'url': function (node) {
                    return ctx + 'permission/getTree';
                },
                'data': function (node) {
                    return {'pid': node.id};
                }
            },
        },
        types: {
            "default": {
                "icon": "fa fa-folder icon-state-warning icon-lg"
            },
            "file": {
                "icon": "fa fa-file icon-state-warning icon-lg"
            }
        },
        'contextmenu' : {
            select_node : true,
            'items' : {
                "新增权限":{
                    label:'新增权限',
                    action:function (data) {
                        addPermission(data)
                    }
                },
                "修改权限":{
                    label:'修改权限',
                    action:function (data) {
                        editPermission(data)
                    }
                },
                "删除权限":{
                    label:'删除权限',
                    action:function (data) {
                        deletePermission(data)
                    }
                }
            }
        },
        plugins: ["types", "contextmenu","themes"]
    })

    function addPermission(data) {
        var inst = $.jstree.reference(data.reference),
            obj = inst.get_node(data.reference);
        x_admin_show("增加权限",ctx + "permission/add?pid=" + obj.id, 500, 400)
    }

    function editPermission(data){
        var inst = $.jstree.reference(data.reference),
            obj = inst.get_node(data.reference);
        x_admin_show("修改权限",ctx + "permission/edit?id=" + obj.id, 500, 400)
    }

    function deletePermission(data){
        var inst = $.jstree.reference(data.reference),
            obj = inst.get_node(data.reference);

        var ref = $("#permissionTree").jstree(true),
            sel = ref.get_text(obj);

        layer.confirm("确定删除权限 \""+ sel +"\"?", {
            btn: ['确定', '取消'],
            'btn1':function(index, layero){
                $.ajax({
                    url:ctx + 'permission/delete?id=' + obj.id,
                    dataType:'json',
                    type:'json',
                    success:function(data){
                        if (data.code == '0000'){
                            layer.alert("删除成功", {icon: 6},function (index) {
                                ref.delete_node(obj)
                                layer.close(index)
                            });
                        } else {
                            layer.alert("删除失败 " + data.message, {icon: 5},function (index) {
                                layer.close(index)
                            });
                        }
                    }
                })
            },
            'btn2':function(index, layero){
                layer.close(index)
            }
        })
    }

    function addNode(treeId, node){
        var ref = $(treeId).jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        sel = ref.create_node(sel, node);
    }

    function editNode(treeId, text){
        var ref = $(treeId).jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        ref.set_text(sel, text)
    }
</script>
</html>