<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公司管理</title>
    <div th:include="common/common"></div>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label">
                <span class="x-red">*</span>人员姓名
            </label>
            <input type="text" id="parytmemberid" name="parytmemberid" required="" lay-verify="required"
                   th:value="${scoreReturnVo.parytmemberid}"  STYLE=" display: none"
                   autocomplete="off" class="layui-input">
            <div class="layui-input-inline" style="width: 70%">
                <input type="text" id="L_name" name="name" required="" lay-verify="required"
                       th:value="${scoreReturnVo.name}" readonly
                       autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">-->
            <!--<span class="x-red">*</span>-->
            <!--</div>-->
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年度</label>
            <div class="layui-input-inline">

                <input type="text" id="score" name="score" required="" lay-verify="required" readonly
                       th:value="${scoreReturnVo.yearString}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label">
                <span class="x-red">*</span>当前分数
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input type="text" id="score" name="score" required="" lay-verify="required" readonly
                       th:value="${scoreReturnVo.score}"
                       autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">-->
            <!--<span class="x-red">*</span>-->
            <!--</div>-->
        </div>
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label">
                <span class="x-red">*</span>所属部门
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input type="text" id="departmentName" name="departmentName" required="" lay-verify="required" readonly
                       th:value="${scoreReturnVo.departmentName}"
                       autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">-->
            <!--<span class="x-red">*</span>-->
            <!--</div>-->
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分数项</label>
                <div class="layui-input-inline" style="width: 400px;">
                    <div class="layui-input-inline" style="width: 400px;">
                        <select name="quiz" id="quiz">
                            <option value="" style="width: 400px;">请选择问题</option>
                            <optgroup label="加分项">
                                <div th:each="pip,iterStat:${addPip}">
                                    <option th:value="${pip.scoreid}"
                                            th:text="${pip.name}+'-----' +${pip.pip}"></option>
                                </div>
                            </optgroup>
                            <optgroup label="扣分项">
                                <div th:each="pip,iterStat:${subPip}">
                                    <option th:value="${pip.scoreid}"
                                            th:text="${pip.name}+'-----' +${pip.pip}"></option>
                                </div>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="remake" id ="remake"  th:text="${scoreReturnVo.remale2}"  required=""> </textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-filter="add" lay-submit="" style="margin-left: 40%">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>

<script>

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#dateyear'
        });
        form.on('select', function (data) {

            $('#quiz').val(data.value);

        })

    });


    $(function () {




//        $('#permissionTree').css({'margin-left':($('body').width() - $('#permissionTree').width())/2})
//        $('#permissionTree').jstree({
//            core:{
//                check_callback: true,
//                themes: {
//                    // "responsive": false,
//                    "icons": false,
//                    // "stripes" : true
//                },
//                data:{
//                    'url': function (node) {
//                        return ctx + 'auth/getCompanyTree';
//                    },
//                    'data': function (node) {
//                        return {'companyParentId': node.id};
//                    }
//                },
//            },
//            types: {
//                "default": {
//                    "icon": "fa fa-folder icon-state-warning icon-lg"
//                },
//                "file": {
//                    "icon": "fa fa-file icon-state-warning icon-lg"
//                }
//            },
//            plugins: ["types","themes","checkbox"]
//        });
    });

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        form.verify({
            companies: function (value, item) {
//                var ref = $('#permissionTree').jstree(true),
//                    checked = ref.get_selected(),
//                    undetermined = ref.get_undetermined()
//
//                for (var i in undetermined){
//                    checked.push(undetermined[i])
//                }

//                if(checked.length == 0){
//                    return '公司不能为空';
//                }
            }
        });

        form.on('radio', function (data) {
            console.log(data.value);

        })


        form.on('submit(add)', function (data) {
            var yearString = [[${scoreReturnVo.yearString}]];
            var parytmemberid = $('#parytmemberid').val();
            var selectId = $('#quiz').val();
            var remake = $('#remake').val();

            if(selectId==''){
                layer.msg('请填写分数项', {icon: -1, time: 1000});
                return false;
            }

            if(remake==''){
                layer.msg('请填写分数项', {icon: -1, time: 1000});
                return false;
            }
//            console.log(ctx + "partyMemberScore/saveDetail?yearString=" + yearString + "&parytmemberid=" + parytmemberid + "&selectId=" + selectId);
            $.ajax({
                url: ctx + "partyMemberScore/saveDetail?yearString=" + yearString + "&parytmemberid=" + parytmemberid + "&selectId=" + selectId + "&remake=" + remake,
                type: 'get',
                dataType: 'json',
                data: data.field,
                traditional: true,
                success: function (data) {
                    if (data.code == '0000') {
                        layer.alert("添加成功", {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.loadData(parent.opts.current_page, parent.opts.items_per_page, '');
                            parent.layer.close(index);
                        });
                    } else {
                        layer.alert("添加失败 " + data.message, {icon: 6}, function (index) {
                            layer.close(index)
                        });
                    }
                }
            });
            return false;
        });
    });

</script>
</body>
</html>