<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.cn.db.dao.PartyRecordMapper">
  <resultMap id="BaseResultMap" type="com.csg.cn.db.entity.PartyRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="recordId" jdbcType="CHAR" property="recordid" />
    <result column="recordName" jdbcType="CHAR" property="recordname" />
    <result column="partyMemberId" jdbcType="CHAR" property="partymemberid" />
    <result column="partyId" jdbcType="CHAR" property="partyid" />
    <result column="picUrl" jdbcType="CHAR" property="picurl" />
    <result column="PicIp" jdbcType="CHAR" property="picip" />
    <result column="uploadTime" jdbcType="DATE" property="uploadtime" />
    <result column="remake1" jdbcType="CHAR" property="remake1" />
    <result column="remake2" jdbcType="CHAR" property="remake2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    recordId, recordName, partyMemberId, partyId, picUrl, PicIp, uploadTime, remake1, 
    remake2
  </sql>
  <select id="countByExample" parameterType="com.csg.cn.db.entity.PartyRecordExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_party_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>