<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.cn.db.dao.PartyMapper">
  <resultMap id="BaseResultMap" type="com.csg.cn.db.entity.Party">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="partyId" jdbcType="CHAR" property="partyid" />
    <result column="partyName" jdbcType="CHAR" property="partyname" />
    <result column="partyTime" jdbcType="DATE" property="partytime" />
    <result column="partyAdress" jdbcType="CHAR" property="partyadress" />
    <result column="partyPlayers" jdbcType="CHAR" property="partyplayers" />
    <result column="oper" jdbcType="CHAR" property="oper" />
    <result column="operTime" jdbcType="DATE" property="opertime" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="remake1" jdbcType="CHAR" property="remake1" />
    <result column="remake2" jdbcType="CHAR" property="remake2" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.csg.cn.db.entity.Party">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="partyDescribe" jdbcType="LONGVARCHAR" property="partydescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    partyId, partyName, partyTime, partyAdress, partyPlayers, oper, operTime, type, remake1, 
    remake2
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    partyDescribe
  </sql>
  <select id="countByExample" parameterType="com.csg.cn.db.entity.PartyExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>