<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.cn.dao.UserAdminMapper">
  <resultMap id="BaseResultMap" type="com.csg.cn.entity.UserAdmin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_username" jdbcType="VARCHAR" property="username" />
    <result column="c_name" jdbcType="VARCHAR" property="name" />
    <result column="n_company_id" jdbcType="INTEGER" property="companyId" />
    <result column="n_dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="c_email" jdbcType="VARCHAR" property="email" />
    <result column="c_phone" jdbcType="VARCHAR" property="phone" />
    <result column="c_mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="n_role_id" jdbcType="INTEGER" property="roleId" />
    <result column="c_pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="n_status" jdbcType="INTEGER" property="status" />
    <result column="c_desc" jdbcType="VARCHAR" property="desc" />
    <result column="n_reg_source" jdbcType="INTEGER" property="regSource" />
    <result column="d_last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="c_last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="c_creator" jdbcType="VARCHAR" property="creator" />
    <result column="d_update" jdbcType="TIMESTAMP" property="update" />
    <result column="d_create" jdbcType="TIMESTAMP" property="create" />
    <result column="c_extra" jdbcType="VARCHAR" property="extra" />
    <result column="c_geo_hash" jdbcType="VARCHAR" property="geoHash" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, c_username, c_name, n_company_id, n_dept_id, c_email, c_phone, c_mobile_phone, 
    n_role_id, c_pwd, n_status, c_desc, n_reg_source, d_last_login, c_last_ip, c_creator, 
    d_update, d_create, c_extra, c_geo_hash
  </sql>
  <select id="countByExample" parameterType="com.csg.cn.entity.UserAdminExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_user_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>